<div class="container">
    <h1>Welcome!</h1>
    <p>You can read more about me, or read my blog.</p>
    <%= link_to "About Me", about_path, class:"btn btn-secondary" %>
    <%= link_to "Blogs", posts_path, class:"btn btn-primary" %>
</div>
